<nav class="nav_bar">
    <ul class="nav_bar_wrapper flex-center-center-2">
        <li class="nav_bar_item"><a href="{% url 'recipes:recipe_index' %}" class="nav_link">Home</a></li>
        <li class="nav_bar_item"><a href="{% url 'recipes:recipe_index' %}" class="nav_link">Browse Recipes</a></li>
        <li class="nav_bar_item"><a href="#" class="nav_link">CookBook - Personal Recipes</a></li>
        <li class="nav_bar_item"><a href="#" class="nav_link">Chefs - Staff</a></li>
        <li class="nav_bar_item"><a href="#" class="nav_link">About</a></li>
    </ul>
</nav>