@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

a, a:visited, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

a {
  font-family: "Abril Fatface", serif;
  font-size: 1.15em;
  color: hsl(42, 45%, 90%);
}

p {
  font-size: 0.95em;
  font-family: "Abril Fatface", serif;
  line-height: 1.25;
  letter-spacing: 1px;
  text-align: justify;
}

h1 {
  font-size: 3em;
  line-height: 1;
  letter-spacing: 1px;
  font-family: "Abril Fatface", serif;
  color: hsl(29, 94%, 56%);
}

h2 {
  font-size: 2em;
  letter-spacing: 1px;
  font-family: "Abril Fatface", serif;
  color: hsl(42, 45%, 90%);
  line-height: 1;
}

h4 {
  font-size: 1.35em;
  letter-spacing: 2px;
  font-family: "Abril Fatface", serif;
  color: inherit;
}

h5 {
  font-size: 1.15em;
}

body {
  background-color: #375971;
}
body .body-container {
  width: 85%;
  margin: 0 auto;
  color: hsl(42, 45%, 90%);
  font-family: "Abril Fatface", serif;
}

ul {
  list-style: none;
}

.header {
  width: 100%;
}
.header .header-container {
  padding: 2em;
}
.header .header-container .header-logo img {
  height: 5.5em;
  width: auto;
}
.header .header-container .header-title h1 {
  text-align: center;
  font-family: "Chewy", serif;
  text-shadow: 1px 1px 2px hsl(232, 21%, 20%);
}

.nav_bar {
  margin: 0 0 3em 0;
}
.nav_bar .nav_bar_wrapper .nav_bar_item .nav_link {
  font-size: 1.25em;
  letter-spacing: 1px;
}

.search-options {
  width: 55%;
  margin: 0 auto;
  border: 3px solid hsl(232, 21%, 20%);
  border-bottom: none;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding: 0.5em 0;
  background-color: hsl(42, 45%, 90%);
  color: hsl(29, 94%, 56%);
}
.search-options .search-item {
  text-shadow: 1px 1px 2px hsl(232, 21%, 20%);
  letter-spacing: 1px;
  font-size: 1.35em;
}

.grid-3fr-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.grid-4fr-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.grid-2fr-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.grid-15fr-col-2 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2em;
}

.grid-113fr-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 2em;
}

.grid-112fr-col-25 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 0.25em;
}

.grid-13fr-col-25 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.25em;
}

.flex-end-center-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
}

.flex-center-center-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.flex-start-start-1 {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mt-1 {
  margin-top: 1em;
}

.w-75 {
  width: 75%;
}

.list-page-container {
  width: 100%;
  border: 3px solid hsl(232, 21%, 20%);
  border-radius: 0.5em;
  padding: 1em;
  background-color: hsl(42, 45%, 90%);
  color: hsl(29, 94%, 56%);
}
.list-page-container .list-page-title {
  font-family: "Chewy", serif;
  color: hsl(29, 94%, 56%);
  line-height: 1.75;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: inherit;
  text-shadow: 1px 1px 2px hsl(232, 21%, 20%);
  text-align: center;
  font-size: 2.25em;
}

.list-page-wrapper {
  flex-direction: column;
}
.list-page-wrapper .page-item {
  width: 90%;
  padding: 1em;
  background-color: #375971;
  color: hsl(29, 94%, 56%);
  border-radius: 0.5em;
  box-shadow: 3px 3px 6px hsl(232, 21%, 20%);
}
.list-page-wrapper .page-item .wrapper .left {
  width: 48.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5em;
  line-height: 1;
  color: hsl(29, 94%, 56%);
}
.list-page-wrapper .page-item .wrapper .left h3 {
  color: hsl(42, 45%, 90%);
}
.list-page-wrapper .page-item .wrapper .left hr {
  width: 100%;
}
.list-page-wrapper .page-item .wrapper .right {
  width: 48.5%;
}
.list-page-wrapper .page-item .wrapper .right img {
  width: 100%;
  max-height: 500px;
  border-radius: 0.5em;
  border: 4px solid hsl(29, 94%, 56%);
  box-shadow: 3px 3px 6px hsl(232, 21%, 20%);
}

.detail-title-wrapper {
  width: 55%;
  margin: 0 auto;
  border: 3px solid hsl(232, 21%, 20%);
  border-bottom: none;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding: 0.5em 0;
  background-color: hsl(42, 45%, 90%);
  color: hsl(29, 94%, 56%);
}
.detail-title-wrapper h3 {
  text-shadow: 1px 1px 2px hsl(232, 21%, 20%);
  letter-spacing: 1px;
  font-size: 1.5em;
}

.detail-container {
  width: 100%;
  border: 3px solid hsl(232, 21%, 20%);
  border-radius: 0.5em;
  padding: 1em;
  background-color: hsl(42, 45%, 90%);
  color: hsl(29, 94%, 56%);
}
.detail-container .detail-img {
  width: 100%;
  max-height: 500px;
  border-radius: 0.5em;
  border: 4px solid hsl(29, 94%, 56%);
  box-shadow: 3px 3px 6px hsl(232, 21%, 20%);
}
.detail-container h2 {
  font-size: 1.55em;
  color: #375971;
}
.detail-container p {
  font-size: 1.15em;
  line-height: 1.5;
}
.detail-container article h3 {
  margin-bottom: 0.75em;
  letter-spacing: 1px;
  font-size: 1.25em;
  color: #375971;
}
.detail-container article p {
  padding: 1em 2.5em 0 0;
}
.detail-container table {
  width: 90%;
  margin: 0 auto;
  border: 4px solid hsl(29, 94%, 56%);
  border-radius: 0.5em;
  padding: 0.5em;
}

.main-row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2fr;
}

/*# sourceMappingURL=main.css.map */
