@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

a, a:visited, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

a {
  font-family: "Abril Fatface", serif;
  font-size: 1.15em;
  color: hsl(42, 45%, 90%);
}

p {
  font-size: 0.95em;
  font-family: "Abril Fatface", serif;
  line-height: 1.75;
  letter-spacing: 1px;
}

h1 {
  font-size: 3em;
  line-height: 1;
  letter-spacing: 1px;
  font-family: "Abril Fatface", serif;
  color: hsl(29, 94%, 56%);
}

h2 {
  font-size: 2em;
  letter-spacing: 1px;
  font-family: "Abril Fatface", serif;
  color: hsl(42, 45%, 90%);
  line-height: 1;
}

body {
  background-color: #375971;
}
body .body-container {
  width: 85%;
  margin: 0 auto;
  color: hsl(42, 45%, 90%);
  font-family: "Abril Fatface", serif;
}

ul {
  list-style: none;
}

.header {
  width: 100%;
}
.header .header-container {
  padding: 2em;
}
.header .header-container .header-logo img {
  height: 5.5em;
  width: auto;
}
.header .header-container .header-title h1 {
  text-align: center;
  font-family: "Chewy", serif;
  text-shadow: 2px 2px 4px hsl(232, 21%, 20%);
}

.nav_bar {
  margin: 0 0 3em 0;
}
.nav_bar .nav_bar_wrapper .nav_bar_item .nav_link {
  font-size: 1.25em;
  letter-spacing: 1px;
}

.list-actionbar {
  width: 75%;
  margin: 0 auto;
}
.list-actionbar h2 {
  text-align: center;
  text-shadow: 2px 2px 4px hsl(232, 21%, 20%);
}
.list-actionbar .actionbar-container {
  margin: 3em 0;
  padding: 1em 0;
  border: 3px solid hsl(42, 45%, 90%);
  box-shadow: 3px 3px 6px hsl(232, 21%, 20%);
  border-radius: 0.4em;
}
.pagination {
  width: 65%;
  margin: 2em auto;
  color: hsl(29, 94%, 56%);
}
.grid-3fr-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5em;
}

.grid-15fr-col-2 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2em;
}

.grid-113fr-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 2em;
}

.flex-end-center-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
}

.flex-center-center-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.flex-space-between-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.list-page ul {
  gap: 8em;
}
.list-page ul li {
  padding: 1em 0;
  border: 3px solid hsl(42, 45%, 90%);
  box-shadow: 3px 3px 6px hsl(232, 21%, 20%);
  border-radius: 0.4em;
}
.list-page ul li a {
  flex-direction: column;
}
.list-page ul li a .title {
  text-align: center;
  margin-bottom: 1em;
}
.list-page ul li a img {
  width: 100%;
  max-width: 18.75em;
}
.list-page ul li a h2 {
  margin-top: 1em;
}

.detail {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
  border: 3px solid hsl(42, 45%, 90%);
  box-shadow: 3px 3px 6px hsl(232, 21%, 20%);
  border-radius: 0.4em;
}
.detail h2 {
  text-align: center;
  color: hsl(29, 94%, 56%);
  text-shadow: 2px 4px solid hsl(232, 21%, 20%);
}
.detail p {
  width: 75%;
  margin: 2em auto;
}
.detail ul {
  margin: 2em 0;
}
.detail ul li {
  margin: 1em 0;
}

.ingredients-qty {
  text-align: right;
}

.article-2 {
  margin-top: 3em;
}

.directions-container {
  display: grid;
  grid-template-columns: 5% 80%;
  gap: 2em;
}
.directions-container span {
  text-align: justify;
}
.directions-container span:first-child {
  padding-left: 1.5em;
}

#article-1-title {
  margin: 2em 0 1em 0;
}

/*# sourceMappingURL=main.css.map */
