@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;

.nav_bar{
  margin:0 0 3em 0;
  .nav_bar_wrapper{
    .nav_bar_item{
      .nav_link{
        font-size: 1.25em;
        letter-spacing: 1px;
      }
    }
  }
}