@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

.search-options{
  width: 55%;
  margin: 0 auto;
  border: 3px solid vars.$color-dark;
  border-bottom: none;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  padding: .5em 0;
  background-color: vars.$color-light;
  color: vars.$color-primary;

  .search-item{
    text-shadow: vars.$text-shadow;
    font-size: 1.35em;
    letter-spacing: 1px;
  }
}