{% extends "base.html" %}
{% block title %}List of Recipes{% endblock %}
{% block content %}
    {% include "partials/navbar.html" %}
    {% include "partials/search-options.html" %}
    <div class="list-page-container">
        <h2 class="list-page-title">List of Recipes</h2>
        <main class="list-page-wrapper flex-center-center-2">
            {% for recipe in recipes %}
                <div class="page-item">
                    <a href="{{ recipe.get_absolute_url }}">
                        <div class="wrapper flex-start-start-1">
                            <div class="left">
                                <h2 class="mt-1">{{ recipe.title }}</h2>
                                <h5 class="mt-1">By: {{ recipe.author }} | Date: {{ recipe.publish }}</h5>
                                <p class="w-75 mt-1">{{ recipe.description|truncatewords:25 }}</p>
                                <hr>
                                <h4 class="mt-1">{{ recipe.article_1_title }}</h4>
                                <p class="w-75 mt-1">{{ recipe.article_1|truncatewords:25 }}</p>

                            </div>
                            <div class="right">
                                <img src="{{ recipe.main_image.url }}" alt="{{ recipe.title }}">
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </main>
        {% if object_count > per_page %}
            {% include "partials/pagination.html" with page=recipes %}
        {% endif %}
    </div>
{% endblock %}