@use './variables' as vars;

@mixin default-font{
  font-family: 'Abril Fatface', serif;
  color: vars.$color-default-font;
  line-height: 1.75;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: inherit;
}

@mixin title-font{
  font-family: 'Chewy', serif;
  color: vars.$color-primary;
  line-height: 1.75;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: inherit;
  text-shadow: vars.$text-shadow;
}

@mixin  border-box{
  padding: 1em 0;
  border: 3px solid vars.$color-light;
  box-shadow: vars.$box-shadow;
  border-radius: .4em;
}

@mixin text-shadow{
  text-shadow: 2px 4px solid vars.$color-dark;
}