{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/app.js' %}" defer ></script>
</head>
<body>
    <div class="body-container">
        {% include "partials/header.html" %}
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>